temp/*
bin/*
vgcore*
savecrash*
*.csv
*/*.csv
lib/*
include/*
!include/list.hpp
!include/utils.hpp
licenses/*
tts/*
obz2cobz/cJSON.*
obz2cobz/plutosvg*
obz2cobz/stb*
.config/*
compile_commands.json
.cache/*
assets/obz2cobz
assets/espeak-ng-data
