name: C/C++ CI

on:
  push:
    branches: [ "prod" ]
  pull_request:
    branches: [ "prod" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Lua
      uses: leafo/gh-actions-lua@v11.0.0
    - name: install dependencies
      run: lua install_deps.lua target=LINUX
    - name: build
      run: lua production_build.lua
    - name: package
  TODO
